<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>African Animal Facts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <header class="top">
        <div class="center">
            <a href="https://github.com/otienosteve/African-Animal-Facts">
                <buttton class="btn-success btn"> View On Github</buttton>
            </a>
            <a href="https://app.swaggerhub.com/apis-docs/otienosteve/AfricanAnimalFacts/1.0.0#/">
                <buttton class="btn-success btn"> Swagger Docs</buttton>
            </a>
            <a href="https://africananimalfacts.herokuapp.com/rand">
                <buttton class="btn-success btn"> Access Api</buttton>
            </a>

        </div>
    </header>
</body>
<style>
    .top {
        width: 100vw;
        height: 72vh;
        background: linear-gradient(105deg, #6f9915, #093a5f);
    }
    
    .center {
        display: flex;
        width: 100vw;
        height: 20vh;
        justify-content: center;
        align-items: center;
    }
    
    .btn {
        margin: 2%;
        cursor: pointer;
    }
    
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

</html>